/*all p and h1 elements*/
p, h1{
	text-align: center;
}

body{
	font: 20px sans-serif;
	box-sizing: border-box;
	border: 2px solid;
}

.flex-container{
	display: flex;
	background-color: grey;
	border: 2px solid;
	margin: 10px;
	flex-direction: column;
}


h2{
	background-color: pink;
	margin: 1px;
	border: 2px solid;
	width: fit-content;
	float: right;
}

h3{
  background-color: darkred;
  margin: 1px;
  border: 2px solid;
  text-align: right;
  width: fit-content;
}

h4{
	background-color: orange;
	margin: 1px;
	border: 2px solid;
	text-align: right;
	width: fit-content;
}